log_level: "debug"
http_connection_settings:
  timeout: "10s"
  tls_handshake_timeout: "5s"
typesense:
  host: "http://localhost:8108"
  api_key: "your-api-key"
migration:
  size_per_page: "100"
  source_collection: "collection_a"
  destination_collection: "collection_b"
  sorter: "created_at:desc"
  filter: "created_at:<1488325530496000000"
  include_fields:
    - "field1"
    - "field2"
    - "field3"
  exclude_fields:
    - "out_of"
backup:
  size_per_page: "100"
  collection: "collection_name"
  jsonl_file_path: "path/to/example.jsonl"
  filter: "created_at:<1488325530496000000"
  include_fields:
    - "field1"
    - "field2"
    - "field3"
  exclude_fields:
    - "out_of"
restore:
  collection: "collection_name"
  jsonl_file_path: "path/to/example.jsonl"
  batch_size: "100"
